{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>
    {% if user.is_authenticated %}
    	<a class="btn btn-primary" href="{% url 'create_listing' %}">Create Listing</a>
    {% else %}
    	<p>Login to Create a Listing</p>
    {% endif %}
    <ul>
    	{% for item in listings %}
    		<li><p hidden>{{ item.listed_id }}</p> <a href="{% url 'listed' item_id=item.listed_id %}">{{ item.item_name }}</a></li>
    	{% empty %}
    		<li>No Listings</li>
    	{% endfor %}
    </ul>
    
{% endblock %}

<!-- "{% url 'listing_page' title=item.item_name %}" -->