{% extends "auctions/layout.html" %}

{% block title %}
    My Wishlist
{% endblock %}

{% block body %}
    <h2>My Watchlist</h2>
	<!-- display alert message if criteria is met in views -->
    {% if messages %}
    	<div class="messages">
    		{% for message in messages %}
            <div class="alert alert-warning" role="alert">
                {{ message }}
            </div>
    		{% endfor %}
    	</div>
    {% endif %}
    <!-- Render all items on user's watchlist -->
    <div class="container">
        <ul class="list-group-flush">
    	{% for item in items %}
    		<li class="list-group-item d-flex justify-content-between align-items-center"><p hidden>{{ item.listing_id.listed_id }}</p> <a href="{% url 'listed' item_id=item.listing_id.listed_id %}">{{ item.wished_item }}</a>
                <!--Create a button to allow user to delete an item from watchlist -->
                <form action="{% url 'delete_watch' item_id=item.listing_id.listed_id %}" method="post">
                    {% csrf_token %}
                    <button class="btn btn-danger" type="submit">Remove</button>
                </form>
            </li>
    	{% empty %}
    		<li class="list-group-item d-flex justify-content-between align-items-center">No items on watchlist</li>
    	{% endfor %}
    </ul>
    
{% endblock %}